# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Engine specific files
plugins/**/build-linux-d
plugins/**/build-linux-o
plugins/**/build-raspbian-o
plugins/**/build-raspbian-d
plugins/**/build-stm32-d
plugins/**/build-stm32-o
plugins/**/custom_variables_map.c
plugins/**/custom_variables_map.h
plugins/**/sound_set_map.h
plugins/**/use_functions_def.h
plugins/**/submodules.h
plugins/**/library_*.h
plugins/**/custom_variables_map_*.h
plugins/**/BUILD.mk
plugins/**/SUBMODULES.mk



# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
