.language-cpp{
  & .highlight {
    & .kt {
      color: #c139c2;
    }

    & .nf {
      color: #45cbf7;
    }

    & .n {
      color: #eee;
    }
  }
}

.language-jsx {
  & .nx {
    color: #45cbf7;
  }
}

.language-javascript{
  & .highlight {
    & .kd {
      color: #c139c2;
    }

    & .nx {
      color: #45cbf7;
    }
  }
}

.language-c{
  & .highlight {
    & .kt {
      color: #c139c2;
    }

    & .nf {
      color: #45cbf7;
    }
  }
}

.language-shell {
  & .highlight {
    & .nb {
      color: #45cbf7;
    }
  }
}

.highlight {
  & .p {
    color: white;
  }

  & .o {
    color: white;
  }
  & .n {
    color: #50a04f;
  }
}

.search-input {
  color: white;
}

