.language-cpp{
  & .highlight {
    & .kt {
      color: #c139c2;
    }

    & .nf {
      color: #45cbf7;
    }
  }
}

.language-javascript{
  & .highlight {
    & .kd {
      color: #c139c2;
    }

    & .nx {
      color: #45cbf7;
    }
  }
}

.language-c{
  & .highlight {
    & .kt {
      color: #c139c2;
    }

    & .nf {
      color: #45cbf7;
    }
  }
}

.language-shell {
  & .highlight {
    & .nb {
      color: #45cbf7;
    }
  }
}

.search-input {
  color: white;
}

